<div class="container align-items-center">
  <div class="row">
    <div class=" col-md-12 justify-content-between">
      <h4> Flagged Events </h4>
      <br>
      <!-- (3) For each event that is flagged, display it in the "Flagged Events" table -->
      <!-- *NgFor="let flagged of flagged-events"-->
      <div *ngFor="let flagged of flaggedEvents" id="flagged-events">
        <table class="col-md-12">
        <tr class="eventList justify-content-between z-depth-2" (click)="open(eventFlag)">
          <!-- When we click the event, we have to execute a function that sends a request to search for event by event id. 
            Then we populate the modal with the results. -->
          <td> <img src="http://archive.idebate.org/sites/preview/files/default_event_image.png"> </td>
          <td class="event-title"> <span class="align-middle" style="vertical-align: center;"> {{flagged.name}} </span> </td>
          <td class="event-date"> <span class="align-middle"> {{flagged.date}} </span> </td>
          <td class="event-time"> <span class="align-middle"> Time </span> </td>
          <td class="event-location"> <span class="align-middle"> {{flagged.address.streetAddress}} </span> </td>
          <!-- <td>
            <span class="buttons">
              <button type="button" class="btn btn-outline-dark" color="warn">unflag</button>
            </span> </td> -->
            </tr>
            <ng-template #eventFlag let-modal>
              <div class="modal-header" (click)="modal.dismiss('Cross click')">
                <h4 class="modal-title" id="modal-basic-title">{{ flagged.name}}</h4>
                <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="http://archive.idebate.org/sites/preview/files/default_event_image.png" style="height: 200px; width:100%;">
                <br>
                <br>
                <h4> Event Description </h4>
                <p> {{flagged.description}} </p>
                <br>
                <h4>Date & Time </h4>
                <p> {{flagged.date}} </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="unflagEvent(flagged);modal.dismiss('Cross click');">Dismiss</button>
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Dismiss clicked')">Delete</button>
              </div>
            </ng-template>
        </table>
      </div>
    </div>
  </div>
  <br>
  <br>
  <h4> Flagged Comments </h4>
  <br>
  <div id="comments">
    <!-- table created if there is anything in the response (user has made comments)-->
    <table  class="table">
        <!-- *ngIf="response !== null" -->
      <thead>
        <th scope="col">Event</th>
        <th scope="col">Comment</th>
        <th scope="col">Actions</th>
      </thead>
      <tbody>
        <!-- creates a new row for each user comment, 
                        using the name of the event, the comment, and the event date-->
        <tr *ngFor="let comment of flaggedComments" id="commentsList">
          <a routerLink="/user/home}">
            <td> {{comment.eventId.name}} </td>
          </a>
          <td> {{comment.comment}} </td>
          <td> {{comment.created | date }} </td>
          <td>
            <span class="buttons">
              <button type="button" class="btn btn-outline-dark" (click)="consoleFunc();unflagComment(comment);">Dismiss</button>
            </span>
            <span class="buttons">
              <button type="button" class="btn btn-outline-dark" (click)="consoleFunc();deleteComment(comment);consoleFunc();">Delete</button>
            </span>
          </td>
        </tr>
        <tr id="default" [hidden]="commentsList">
          <td></td>
          <td> No flagged comments to see.</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #eventFlag let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Event Title</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <img src="http://archive.idebate.org/sites/preview/files/default_event_image.png" style="height: 200px; width:100%;">
      <br>
      <br>
      <h4> Event Description </h4>
      <p> {{flaggedEvents.description}} </p>
      <br>
      <h4>Date & Time </h4>
      <p> {{flaggedEvents.date}} </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="unflagEvent()">Dismiss</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Dismiss clicked')">Delete</button>
    </div>
  </ng-template>