<div class="container">
  <div class="row align-items-center">
    <div class="jumbotron text-center">
      <h1> Hello, {{user.firstname}} {{user.lastname}}!</h1>
      <p> Welcome to your Homepage! </p>
    </div>
  </div>
  <!-- Div for 5 current events -->
  <div class="col-md-12 justify-content-between">
    <h4> Current Events </h4>
    <br>
    <div id="current-events">
      <div class="card-group">
        <div class="col-md-4" *ngFor="let event of eventList2">
          <div class="card" (click)="open(allEvent)">
            <div (click)="getEventById(event.id)">
              <div class="card-img-top card-img-top-250">
                <img class="img-fluid" src="{{event.picture}}" alt="Carousel 1">
                <div class="card-body">
                  <h6 class="small text-wide p-b-2">{{event.categoryId.name}}</h6>
                  <h6 class="small text-wide p-b-2">Created by: {{event.userId.firstname}} {{event.userId.lastname}}</h6>
                  <h2>
                    {{event.name}}
                  </h2>
                  <p> {{event.description}} </p>
                  <!-- <button type="button" (click)="getEventById(event.id)">Click here</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--  -->
<ng-template #allEvent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{singleEvent?.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <mat-tab-group>
    <mat-tab label="Event Description">
      <div class="modal-body">
        <img src='{{singleEvent?.picture}}' style="height: 200px; width:100%;">
        <br>
        <h4>Event Description</h4>
        <p>{{singleEvent?.description}}</p>
        <h4>Date & Time</h4>
        <p>{{singleEvent?.date | date}}</p>
        <h4>Location</h4>
        <p>{{singleEvent?.address.streetAddress}}</p>
        <p>{{singleEvent?.address.city}}, {{singleEvent?.address.state}} {{singleEvent?.address.zip}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="flagEvent(singleEvent)">
          Flag This Event</button>
        <button type="button" class="btn btn-outline-warning" (click)="registerForEvent(singleEvent?.id)">
          Register Now!</button>
      </div>
    </mat-tab>
    <mat-tab label="View Comments">
      <div id="commentsDiv">
      <h4>Comments About The Event</h4>
      <ul>
         <li *ngFor="let comment of commentListFinal"> {{comment.comment}} </li>
      </ul> 
      <p [hidden]="commentListFinal.length > 0">No comments yet.</p>
      </div>
      <div class="modal-footer">
        <button [hidden]="toggle" (click)="ontoggle()" class="comment-button-center btn btn-outline-success">
          Post a Comment</button>
        <form [hidden]="!toggle" (ngSubmit)="onCommentCreated(commentForm)" #commentForm="ngForm">
          <div class="row comment-button">
            <input type="text" name="data" class="col" [(ngModel)]="data">
            &nbsp;
            <input type="submit" class="btn btn-outline-success col-3" value="Submit" click="ontoggle()">
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</ng-template>

<button type="button" (click)="getCommentsByEventId()"> Click Me </button>