<div class="wrapper ">
  <header>
    <nav>
      <div class="logo">
        KROWD
      </div>
      <span class="space"></span>
      <div class="menu">
        <ul>
          <li><a *ngIf="userRole == 'Admin'" routerLink="admin"><strong>Admin</strong></a></li>
          <li><a routerLink="home"><strong>Home</strong></a></li>
          <li><a routerLink="create"><strong>Create Event</strong></a></li>
          <li><a routerLink="profile"><strong>Profile</strong></a></li>
          <li><a style="cursor: pointer;" (click)="onLogout()"><strong>Logout</strong></a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>

