<div id="profile-info" class="container">
  <div id="user-section" class="row">
    <div class="col-md-3">
      <div id="profile-image">

      </div>
    </div>
    <div class="col-md-1"></div>
    <div id="user-info" class="col-md-8">
      <span>
        <h4> First Last </h4>
        <p> Username </p>
      </span>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3> About Me </h3>
      <p> This is the "About Me" text. </p>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h3> My Events </h3>
      <br>
      <h4> Hosting </h4>
    </div>
  </div>
  <div class="carousel slide pre-scrollable" data-ride="carousel" id="postsCarousel">
    <div class="container p-t-0 m-t-2 carousel-inner">
      <div class="row row-equal carousel-item active m-t-0">
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Insight</h6>
              <h2>
                Host Event #1
              </h2>
              <p> This is Host Event #1's description. Hopefully it stays centers like it is. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Development</h6>
              <h2>
                Event Title #2
              </h2>
              <p> Host Event #2's description. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event Title #3
              </h2>
              <p> Host Event #3's description </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event Title #4
              </h2>
              <p> Host Event #4's description </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <br>
      <h4> Attending </h4>
    </div>
  </div>
  <div class="carousel slide pre-scrollable" data-ride="carousel" id="postsCarousel">
    <div class="container p-t-0 m-t-2 carousel-inner">
      <div class="row row-equal carousel-item active m-t-0">
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Insight</h6>
              <h2>
                Event #1
              </h2>
              <p> This is Event #1's description. Hopefully it stays centers like it is. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Development</h6>
              <h2>
                Event #2
              </h2>
              <p> Event #2's description. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event #3
              </h2>
              <p> Event #3's description </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event #4
              </h2>
              <p> Event #4's description </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <br>
      <h4> Attended </h4>
    </div>
  </div>
  <div class="carousel slide pre-scrollable" data-ride="carousel" id="postsCarousel">
    <div class="container p-t-0 m-t-2 carousel-inner">
      <div class="row row-equal carousel-item active m-t-0">
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/EW5FgJM.png" alt="Carousel 1">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Insight</h6>
              <h2>
                Event #1
              </h2>
              <p> This is Event #1's description. Hopefully it stays centers like it is. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/Hw7sWGU.png" alt="Carousel 2">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Development</h6>
              <h2>
                Event #2
              </h2>
              <p> Event #2's description. </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event #3
              </h2>
              <p> Event #3's description </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="http://i.imgur.com/g27lAMl.png" alt="Carousel 3">
            </div>
            <div class="card-block p-t-2">
              <h6 class="small text-wide p-b-2">Design</h6>
              <h2>
                Event #4
              </h2>
              <p> Event #4's description </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <br>
      <h3> My Comments </h3>
    </div>
  </div>
  <div class="box-shadow">
    <div id="comments">
      <!-- table created if there is anything in the response (user has made comments)-->
      <table *ngIf="response !== null" class="table">
        <thead>
          <th scope="col">Event</th>
          <th scope="col">Comment</th>
          <th scope="col">Date</th>
        </thead>
        <tbody>
          <!-- creates a new row for each user comment, 
                    using the name of the event, the comment, and the event date-->
          <tr *ngFor="let comment of commentsList" id="commentsList">
            <a routerLink="/events/{{eventID}}">
              <td> {{comment.event_id}} </td>
            </a>
            <td> {{comment.data}} </td>
            <td> {{comment.created | date }} </td>
          </tr>
          <tr id="default" [hidden]="commentsList">
            <td></td>
            <td>No comments yet.</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>