<div id="profile-info" class="container">
  <br>
  <br>
  <div id="user-section" class="row">
    <div class="col-md-3">
      <div id="profile-image">
      </div>
    </div>
    <div class="col-md-1"></div>
    <div id="user-info" class="col-md-4">
      <span id="profile-essentials">
        <h4> First Last </h4>
        <p> Username </p>
        <p> Reputation Score </p>
      </span>
    </div>
    <div id="profile-buttons" class="col-md-4">
      <button (click)="open(editProfile)"> Edit Profile Information </button>
      <br>
      <br>
      <button (click)="toggleEvents()"> {{event_button_text}} </button>
      <br>
      <br>
      <button (click)="toggleComments()"> {{comment_button_text}} </button>
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="col-md-12">
      <h3> About Me </h3>
      <p> This is the "About Me" text. </p>
    </div>
  </div>
  <br><br>

</div>
<br>
<br>
<div class="container" *ngIf="show_events">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h3> My Events </h3>
      <br>
      <h4> Attending </h4>
    </div>
  </div>
  <div id="current-events">
    <div class="card-group">
      <div class="col-md-4" *ngFor="let event of attendingEvents">
        <div class="card" (click)="open(allEvent)">
          <div (click)="getEventById(event.id)">
            <div class="card-img-top card-img-top-250">
              <img class="img-fluid" src="{{event.picture}}" alt="Carousel 1">
              <div class="card-body">
                <h6 class="small text-wide p-b-2">{{event.name}}</h6>
                <h6 class="small text-wide p-b-2">Created by: {{event.userId.firstname}} {{event.userId.lastname}}</h6>
                <h2>
                  {{event.name}}
                </h2>
                <p> {{event.description}} </p>
                <!-- <button type="button" (click)="getEventById(event.id)">Click here</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div class="container" *ngIf="show_comments">
  <div class="row">
    <div class="col-md-12">
      <br>
      <h3> My Comments </h3>
    </div>
  </div>
  <div class="box-shadow" *ngIf="show_comments">
    <div id="comments">
      <!-- table created if there is anything in the response (user has made comments)-->
      <table class="table">
        <thead>
          <th scope="col">Event</th>
          <th scope="col">Comment</th>
          <th scope="col">Date</th>
        </thead>
        <tbody>
          <!-- creates a new row for each user comment, 
                    using the name of the event, the comment, and the event date-->
          <tr *ngFor="let comment of userComment" id="commentsList">
            <td> {{comment.eventId.name}} </td>
            <td> {{comment.comment}} </td>
            <td> {{comment.timestamp | date }} </td>
          </tr>
          <!-- <tr id="default" [hidden]="commentsList">
          <td></td>
          <td>No comments yet.</td>
          <td></td>
        </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<ng-template #editProfile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Profile Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <label for="firstInput"> First Name </label>
      <input id="firstInput" class="form-control" type="text">
      <br>
      <label for="lastInput"> Last Name </label>
      <input id="lastInput" class="form-control" type="text">
      <br>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"> About Me </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <br>
      <img id="newImage" src={{picture}}>
      <br>
      <h6> Change Profile Image </h6>
      <div class="form-row picture-upload">
        <div class="form-group col-4">
          <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera" name="eventPhotoID"
            ngModel>
          <br>
          <br>
          <button [disabled]="loading" (click)="upload()">Upload</button>
        </div>
        <div class="form-group col-4">

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Submit clicked')"> Submit Changes </button>
  </div>
</ng-template>