#user-section {
  position: relative;
  width: 100%;
  margin: auto;
  padding: 30px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.eventFromList {
  display: inline;
  margin: 10px 20px 10px 20px;
}

#default {
  text-align: center;
  padding: 20px;
}

p {
  margin: 0px 20px auto;
}

/* equal card height */
.row-equal > div[class*="col-"] {
  display: flex;
  flex: 1 0 auto;
}

/* ensure equal card height inside carousel */
.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
  display: flex;
}

/* prevent flicker during transition */
.carousel-inner > .row-equal.active.left,
.carousel-inner > .row-equal.active.right {
  opacity: 0.5;
  display: flex;
}

.btn {
  float: right;
}

.carousel {
  border: 2px solid gray;
  overflow: scroll;
}

table {
  border-radius: 15px;
}

table tr {
  border-radius: 15px;
}

.box-shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#comments {
  padding: 20px;
}

#default {
  text-align: center;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

a {
  text-decoration: none;
}

#profile-essentials {
  position: absolute;
  top: 6vh;
  text-align: center;
}

#profile-buttons {
  /* position: absolute; */
  top: 3vh;
}

.profileButton {
  width: 200px;
}

#newImage {
  height: 150px;
  width: auto;
}

#profileCard {
  width: 80%;
  margin: auto;
}
