<h2 mat-dialog-title>Please Enter Your Information</h2>
<form (ngSubmit)="cognitoSignUp(f)" #f="ngForm">
  <input class="form-control" placeholder="Username" ngModel name="username" required>
  <input class="form-control" placeholder="First Name" ngModel name="firstname" required>
  <input class="form-control" placeholder="Last Name" ngModel name="lastname" required>
  <input class="form-control" placeholder="Email" ngModel name="email" required>
  <input type="password" class="form-control" placeholder="Password" ngModel name="password" required>
  <button type="submit" mdbBtn color="red" class="waves-light" mdbWavesEffect>Create User</button>
</form>