<!-- <div class="text-center login" [@slide]="[position]" id="welcome">
  <br>
  <div>
    <h2>Welcome to Krowd!</h2>
    <h5>Login or create an account </h5>
  </div>
  <span class="buttons">
    <button mat-raised-button class="btn btn-outline-success my-2 my-sm-2 text-dark mt-1" label="Click" (click)="toggleLogin()">
      Login</button>
  </span>
  <span class="buttons">
    <button mat-raised-button class="btn btn-outline-success my-2 my-sm-2 text-dark mt-1" label="Click" (click)="toggleRegister()">
      Create an Account</button>
  </span>
</div>
<div *ngIf="showLogin || showRegister" [@fade]="'in'">
  <div *ngIf="showLogin" id="login" class="cards">
    <mat-card>
      <app-login></app-login>
    </mat-card>
  </div>
  <div *ngIf="showRegister" id="login" class="cards">
    <mat-card>
      <app-register></app-register>
    </mat-card>
  </div>
</div>
<app-confirm-email></app-confirm-email> -->

<header>
  <div class="header__bg"></div>
  <h1>Krowd</h1>
  <h3>A social hangout app</h3>
  <div id="card" class="card">
    <div class="card-body">
      <h5 class="card-title">Find your Krowd</h5>
      <p class="card-text">To use the app, please Log In or Register below.</p>
      <div style="text-align:center">
        <a routerLink='register' class="btn btn-success event-button">Register!</a>
        &nbsp; &nbsp;
        <a routerLink='login' class="btn btn-success event-button">Log In!</a>
      </div>
      <router-outlet></router-outlet>

    </div>
  </div>

</header>